@import "variables";


/*attribute
Photo by <a href="https://unsplash.com/@carltraw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Carl Raw</a> on <a href="https://unsplash.com/s/photos/casino?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */

/*General rules applied to the body*/
body {
  background-color: $background-color;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  a {
    text-decoration: none;
  }
}



/*Background image for the webpage*/
.intro {
  background-image: url("/images/hero.jpg");
  background-size: 100%;
  position: relative;
}

/*Header rules h1 and h2*/
header {
  padding: 1rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  h1,
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: .5rem;
  }
}

/*Neon Design*/
header {
  font-size:35px;
  border: none;
  color: white;
  text-align: center;
  text-shadow: 
     1px 5px 4px rgba(0,0,0,.3), 
    0 0 2px rgba(255,255,255,1), 
    0 0 10px rgba(255,255,255,1), 
    0 0 20px rgba(255,255,255,1), 
    0 0 40px #99002c,
    0 0 70px #99002c,
    0 0 80px #99002c,
    0 0 100px #99002c;
    abbr {
      animation-duration:6s;
      animation-delay: 2s;
      animation-direction: alternate;
      animation: blink .5s infinite alternate;
    }
}


@keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  70%{
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #49213b,
      0 0 70px #49213b, 
      0 0 80px #49213b,
      0 0 100px #49213b,
  }
  80%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  100% { 
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #49213b,
      0 0 70px #49213b,
      0 0 80px #49213b,
      0 0 100px #49213b,
  }
}

/*The little explanation on the header*/
.summary {
  text-align: center;
  color: $text-light;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 25px;
  text-shadow: 2px 2px 4px $background-color;
  abbr::after {
    content: "\a";
    white-space: pre;
  }
  a {
    color: $text-light;
    &:hover {
      color: $text-dark;
      animation: blink .7s infinite alternate;
    }
  }
}
