@import "variables";

@mixin uppercase() {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin white-line {
  &::after {
    content: "";
    position: absolute;
    background-color: $text-light;
    width: 50%;
    height: 3px;
    left: 50px;
}
}