@import "variables";

@mixin uppercase() {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin white-line {
  &::after {
    content: "";
    position: absolute;
    background-color: $text-light;
    width: 50%;
    height: 3px;
    left: 50px;
  }
}

@mixin chip-rotation {
  color: $text-dark;
  background-image: url("https://www.svgrepo.com/show/121692/poker-chip.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotateY(360deg);
}
