@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap');


$fonts-headline: "Meie Script", cursive;
$fonts-body: "Alef", sans-serif;
$background-color: #273043;
$primary: #115a56;
$accent1: #99002c;
$accent2: #edf0da;
$accent3: #49213b;
$text-dark: #273043;
$text-light: #fdfffc;
