@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap");
/*attribute
Photo by <a href="https://unsplash.com/@carltraw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Carl Raw</a> on <a href="https://unsplash.com/s/photos/casino?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
/*General rules applied to the body*/
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap");
body {
  background-color: #273043;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}

body a {
  text-decoration: none;
}

/*Background image for the webpage*/
.intro {
  background-image: url("/images/hero.jpg");
  background-size: 100%;
  position: relative;
}

/*Header rules h1 and h2*/
header {
  padding: 1rem;
  text-align: center;
  color: #fdfffc;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

header h1,
header h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

/*The little explanation on the header*/
.summary {
  text-align: center;
  color: #fdfffc;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 25px;
  text-shadow: 2px 2px 4px #273043;
}

.summary abbr::after {
  content: "\a";
  white-space: pre;
}

.summary a {
  color: #fdfffc;
}

.summary a:hover {
  color: #273043;
  background-color: #fdfffc;
}

.preamble {
  position: absolute;
  top: 50em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20em;
}

.preamble,
.main > div {
  max-width: 600px;
  padding: 0.5em 2em;
  overflow: hidden;
}

.preamble,
.main > div:nth-child(even) {
  background-color: #edf0da;
  color: #273043;
}

.main > div:nth-child(odd) {
  background-color: #115a56;
  color: #edf0da;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 650px 750px 850px 400px 1150px;
      grid-template-rows: 650px 750px 850px 400px 1150px;
}

.main > div {
  margin: 1em 2em;
}

.main > div:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main > div:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.main > div:nth-of-type(3) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.main > div:nth-of-type(4) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

#zen-requirements {
  background-color: #49213b;
  color: #fdfffc;
  margin-left: 0;
  margin-right: 0;
}

/* LINKS */
.main > div a {
  color: #99002c;
}

.main > div a:hover {
  color: #49213b;
}

#zen-requirements a:hover {
  color: #edf0da;
}

/* HEADINGS */
h3 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 1em;
  border-bottom: 2px solid #99002c;
}

.select,
.archives,
.resources {
  font-family: "Alef", sans-serif;
  color: #fdfffc;
  background-color: #99002c;
  max-width: 340px;
  padding: 15px 20px;
  margin: auto;
  font-size: 0;
}

.select::after {
  content: "Select a Design";
  font-size: 24px;
}

.archives::after {
  content: "Archives";
  font-size: 24px;
}

.resources::after {
  content: "Resources";
  font-size: 24px;
}

aside li, aside a {
  color: #fdfffc;
  list-style: none;
  padding-top: 20px;
  font-size: 20px;
  max-width: 350px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.design-archive a {
  margin-left: 50px;
}

.indicator {
  display: none;
}

abbr {
  text-decoration: none;
}

.design-selection li {
  font-family: "Meie Script", cursive;
  letter-spacing: -5px;
}

.design-selection a {
  font-family: "Alef", sans-serif;
}

.design-selection a:nth-child(2) {
  margin-left: 20px;
}

.design-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: -.3px;
  font-size: 24px;
}

aside li a:nth-child(1)::after {
  content: "\A";
  white-space: pre;
}

.design-selection,
.design-archive,
.zen-resources {
  padding: 15px;
  font-family: "Alef", sans-serif;
  line-height: 2;
  margin-left: -15px;
}

.design-selection li,
.design-archives li,
.zen-resources li {
  border-bottom: 3px solid white;
  padding: 15px;
  line-height: 2;
  margin-left: -15px;
}

.design-archives li:last-child,
.zen-resources li:last-child,
.design-selection li:last-child {
  border-bottom: none;
}

.design-archives li {
  font-family: "Alef", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */